<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-argon">
  
  <title>
    Aqiqah Online | Sahabat Aqiqah
  </title>

  <!-- Favicon - loaded as static -->
  <link rel="icon" href="https://aqiqahon.sahabataqiqah.co.id/apps/static/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="https://aqiqahon.sahabataqiqah.co.id/apps/static/vendor/nucleo/css/nucleo.css" type="text/css">
  <script src="https://kit.fontawesome.com/16c0b83026.js" crossorigin="anonymous"></script>
  <!-- Page plugins -->
  <!-- Soft UI Dashboard -->
  <link id="pagestyle" href="https://aqiqahon.sahabataqiqah.co.id/apps/static/css/soft-ui-dashboard.css" rel="stylesheet" />
  <link id="pagestyle_dark" href="https://aqiqahon.sahabataqiqah.co.id/apps/static/css/dark-theme-core.css" rel="stylesheet" />
  <!-- DataTables -->
  <link rel="stylesheet" href="//cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" type="text/css">
  <!-- CSS jQuery UI -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

  {{ form.media }}
</head>

<body class="g-sidenav-show">

  {% include "includes/sidebar.html" %}
  
  <div class="main-content position-relative min-vh-100 pb-4">
    
      {% include 'includes/navigation.html' %}
    
    <div class="mb-3">
      {% block content %}{% endblock content %}
    </div>

    {% include 'includes/footer.html' %}

  </div>

  {% include "includes/scripts.html" %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}{% endblock javascripts %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
    
    let crud = "{{ crud }}";
    if (crud == 'update' || crud == 'add') {
        let my_button = document.getElementsByClassName('button');
        for (const button of my_button) {
          button.addEventListener('click', function() {
            alert('Simpan data terlebih dahulu sebelum keluar dari halaman ini');
          });
        }
    }
  </script>

  <!-- Argon JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
  <script src="https://aqiqahon.sahabataqiqah.co.id/apps/static/js/argon.js?v=1.2.0"></script>
  <!-- DataTables -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  <script src="//cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
  <!-- JavaScript jQuery UI -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="https://aqiqahon.sahabataqiqah.co.id/apps/static/js/soft-ui-dashboard.min.js"></script>
  <script src="https://aqiqahon.sahabataqiqah.co.id/apps/static/js/scripts.js"></script>
  <!-- Bootstrap Bundle -->
</body>

</html>
