{% extends 'layouts/base.html' %}

{% block title %} Buat Regional Baru {% endblock title %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'area-sales-add' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h4  class="mb-2">Buat Regional Baru</h4>
                            </div>
                            <div class="col-6 text-end">
                                <button type="submit" class="btn btn-sm bg-gradient-primary mb-0"><i class="fas fa-save"></i>&nbsp;&nbsp;Simpan</button>
                                <a href="{% url 'area-sales-index' %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Batal</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <!-- {% if message %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                            {% endif %} -->
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="shadow-none">
                                            {{ form.area_id.label_tag }}{{ form.area_id }}
                                            <div class="text-sm text-danger">
                                                {{ form.area_id.errors }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="shadow-none">
                                            {{ form.area_name.label_tag }}{{ form.area_name }}
                                            <div class="text-sm text-danger">
                                                {{ form.area_name.errors }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="shadow-none">
                                            {{ form.manager.label_tag }}
                                            <select name="manager" class="form-control form-select-sm">
                                                <option value="">-- Pilih Manager --</option>
                                                {% for item in manager %}
                                                <option value="{{ item.user_id }}">{{ item.username }}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="text-sm text-danger">
                                                {{ form.manager.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="shadow-none">
                                            {{ form.bank_account.label_tag }}{{ form.bank_account }}
                                            <div class="text-sm text-danger">
                                                {{ form.bank_account.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}