{% extends 'layouts/base.html' %}

{% block title %} Uang Masuk {% endblock title %}

{% block content %}

{% load user_agents %}

{% load humanize %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'cashin-update' data.cashin_id '0' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="mb-2">ID: {{ data.cashin_id }}</h4>
                            </div>
                            <div class="col-6 text-end">
                                {% if request|is_mobile %}
                                <div class="dropdown float-lg-end pe-2">
                                    <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                        <li><a class="dropdown-item border-radius-md" href="{% if crud == 'view' %}{% url 'cashin-index' %}{% else %}{% url 'cashin-view' data.cashin_id %}{% endif %}">{% if crud == 'view' %}Kembali{% else %}Batal{% endif %}</a></li>
                                        <li><a class="dropdown-item border-radius-md" href="{% url 'cashin-update' data.cashin_id '0' %}" {% if not btn.edit and not request.user.is_superuser %}hidden{% endif %} {% if crud == 'update' %}hidden{% endif %}>Edit</a></li>
                                        <li><button class="dropdown-item border-radius-md" {% if crud == 'view' %}hidden{% endif %} type="submit">Simpan</button></li>
                                        <li><button class="dropdown-item border-radius-md" {% if crud == 'update' %}hidden{% endif %} {% if not btn.edit and not request.user.is_superuser %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#confirm-{{ data.cashin_id }}">Hapus</button></li>
                                    </ul>
                                </div>
                                {% else %}
                                <a href="{% if crud == 'view' %}{% url 'cashin-index' %}{% else %}{% url 'cashin-view' data.cashin_id %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;{% if crud == 'view' %}Kembali{% else %}Batal{% endif %}</a>
                                <a href="{% url 'cashin-update' data.cashin_id '0' %}" class="btn btn-sm bg-gradient-dark mb-0 {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
                                <button type="submit" class="btn btn-sm bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Simpan</button>
                                <button type="button" class="btn btn-sm bg-gradient-primary mb-0 {% if not btn.delete and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-{{ data.cashin_id }}"><i class="fas fa-trash"></i>&nbsp;&nbsp;Hapus</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-{{ data.cashin_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Konfirmasi</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Anda yakin ingin menghapus uang masuk untuk Order No. <strong>{{ data.order_id }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Batal</button>
                                    <a href="{% url 'cashin-delete' data.cashin_id %}" role="button" class="btn btn-sm bg-gradient-primary text-white">Hapus
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if msg == '1' %}
                            <div class="alert alert-danger alert-dismissible fade show py-2 text-sm" role="alert">
                                <span class="alert-icon text-white"><i class="fas fa-exclamation-triangle"></i></span>
                                <span class="alert-text text-white">&nbsp;&nbsp;Jumlah uang masuk melebihi jumlah tagihan. Silahkan cek kembali jumlah uang masuk yang anda input.</span>
                                <button type="button" class="btn-close py-2" data-bs-dismiss="alert" aria-label="Close"><i class="fas fa-times"></i></button>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        <label class="form-control-label">Order Pemesanan</label>
                                        <select name="order" class="form-control form-select-sm" disabled>
                                            <option value="">-- Pilih Order --</option>
                                            {% for item in orders %}
                                            <option value="{{ item.order_id }}" {% if item.order_id == data.order_id %}selected{% endif %}>{{ item.order_id }} - {{ item.customer_name }} - Rp. {{ item.pending_payment|intcomma }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        {{ form.cashin_type.label_tag }}
                                        <select name="cashin_type" class="form-control form-select-sm" {% if crud == 'view' %}disabled{% endif %}>
                                            <option value="">-- Pilih Cara Pembayaran --</option>
                                            <option value="Tunai" {% if data.cashin_type == 'Tunai' %}selected{% endif %}>Tunai</option>
                                            <option value="Transfer" {% if data.cashin_type == 'Transfer' %}selected{% endif %}>Transfer</option>
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.cashin_type.errors }}
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        {{ form.cashin_date.label_tag }}
                                        <input type="date" name="cashin_date" class="form-control form-control-sm" value="{{ data.cashin_date|date:'Y-m-d' }}" {% if crud == 'view' %}disabled{% endif %}>
                                        <div class="text-sm text-danger">
                                            {{ form.cashin_date.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.cashin_amount.label_tag }}
                                        {% if crud == 'view' %}
                                        <input type="text" name="cashin_amount" class="form-control form-control-sm" {% if crud == 'view' %}disabled{% endif %} value="{{ data.cashin_amount|intcomma }}">
                                        {% else %}
                                        {{ form.cashin_amount }}
                                        {% endif %}
                                        <div class="text-sm text-danger">
                                            {{ form.cashin_amount.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.bank.label_tag }}{{ form.bank }}
                                        <div class="text-sm text-danger">
                                            {{ form.bank.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="shadow-none">
                                        {{ form.evidence.label_tag }}
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group input-group-alternative">
                                            <a {% if data.evidence %}href="{{ data.evidence.url }}"{% endif %} target="_blank" class="form-control form-control-sm border">{% if data.evidence %}{{ data.evidence|truncatechars:40 }}{% else %}Tidak ada bukti pembayaran{% endif %}</a>
                                            <span class="input-group-text bg-transparent end-0 pe-3 py-2 {% if crud == 'update' %}cursor-pointer{% endif %} text-body {% if crud == 'view' %}disabled{% endif %} z-index-0" data-bs-toggle="modal" {% if crud == 'update' %}data-bs-target="#delete-evidence"{% endif %}><i class="fas fa-times-circle"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        {% if request|is_mobile %}<div class="pb-2"></div>{% else %}<label class="pb-3"></label>{% endif %}
                                        {{ form.evidence }}
                                        <div class="text-sm text-danger">
                                            {{ form.evidence.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="delete-evidence" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLabel">Konfirmasi</h5>
                                            </div>
                                            <div class="modal-body border-bottom-0">
                                                Anda yakin akan menghapus bukti pembayaran ini?
                                            </div>
                                            <div class="modal-footer border-0">
                                                <button role="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Batal</button>
                                                <a href="{% url 'remove-evidence' data.cashin_id %}" role="button" class="btn bg-gradient-primary text-white">Hapus
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="shadow-none">
                                        {{ form.cashin_note.label_tag }}{{ form.cashin_note }}
                                        <div class="text-sm text-danger">
                                            {{ form.cashin_note.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    let cashin_type = document.getElementsByName('cashin_type')[0];
    let bank = document.getElementsByName('bank')[0];

    // remove required attribute from bank field if cashin type is tunai
    cashin_type.addEventListener('change', function() {
        if (cashin_type.value == 'Tunai') {
            bank.removeAttribute('required');
        } else {
            bank.setAttribute('required', '');
        }
    });

    let btn_menu = document.getElementById('dropdownTable');
    let dropdown_menu = document.getElementsByClassName('dropdown-menu');
    
    // open dropdown menu
    btn_menu.addEventListener('click', function() {
        dropdown_menu[0].classList.toggle('show');
    });
</script>
{% endblock javascripts %}
