{% extends 'layouts/base.html' %}

{% block title %} View Customer {% endblock title %}

{% block content %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'customer-update' data.customer_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                <h4 class="mb-2">ID Customer: {{ data.customer_id }}</h4>
                            </div>
                            <div class="col-8 text-end">
                                <a href="{% if crud == 'view' %}{% url 'customer-index' %}{% else %}{% url 'customer-view' data.customer_id '0' %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;{% if crud == 'view' %}Back{% else %}Batal{% endif %}</a>
                                <a href="{% url 'customer-update' data.customer_id %}" class="btn btn-sm bg-gradient-dark mb-0 {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
                                <button type="submit" class="btn btn-sm bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Simpan</button>
                                <button type="button" class="btn btn-sm bg-gradient-primary mb-0 {% if not btn.delete and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-{{ data.customer_id }}"><i class="fas fa-trash"></i>&nbsp;&nbsp;Hapus</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-{{ data.customer_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Konfirmasi</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Anda yakin akan menghapus customer <strong>{{ data.customer_name }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Batal</button>
                                    <a href="{% url 'customer-delete' data.customer_id %}" role="button" class="btn btn-sm bg-gradient-primary text-white">Hapus
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if msg != '0' %}
                        <div class="alert text-danger text-sm text-bg-light" role="alert">
                            {{ msg }}
                        </div>
                        {% endif %}
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="shadow-none">
                                                {{ form.customer_name.label_tag }}{{ form.customer_name }}
                                                <div class="text-sm text-danger">
                                                    {{ form.customer_name.errors }}
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="shadow-none">
                                                {{ form.customer_phone.label_tag }}{{ form.customer_phone }}
                                                <div class="text-sm text-danger">
                                                    {{ form.customer_phone.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="shadow-none">
                                                {{ form.customer_phone2.label_tag }}{{ form.customer_phone2 }}
                                                <div class="text-sm text-danger">
                                                    {{ form.customer_phone2.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="shadow-none">
                                                {{ form.customer_email.label_tag }}{{ form.customer_email }}
                                                <div class="text-sm text-danger">
                                                    {{ form.customer_email.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.customer_address.label_tag }}{{ form.customer_address }}
                                        <div class="text-sm text-danger">
                                            {{ form.customer_address.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.customer_district.label_tag }}{{ form.customer_district }}
                                        <div class="text-sm text-danger">
                                            {{ form.customer_district.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.customer_city.label_tag }}{{ form.customer_city }}
                                        <div class="text-sm text-danger">
                                            {{ form.customer_city.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.customer_province.label_tag }}{{ form.customer_province }}
                                        <div class="text-sm text-danger">
                                            {{ form.customer_province.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 px-4 py-2">
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <h5 class="mb-0"></h5>
                    </div>
                    <div class="col-6 text-end">
                        <button id="myBtn" type="button" class="btn btn-sm bg-gradient-primary mb-0" data-bs-toggle="modal" data-bs-target="#dialog-popup" {% if not btn.edit and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}><i class="fas fa-plus"></i>&nbsp;&nbsp;Tambah Anak</button>
                    </div>
                </div>
                <div class="modal modal-lg fade" id="dialog-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">Data Anak</h5>
                            </div>
                            <form method="post" action="{% url 'customer-view' data.customer_id '0' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body border-bottom-0">
                                    <div class="pl-lg-0">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group shadow-none">
                                                    {{ form_detail.child_name.label_tag }}{{ form_detail.child_name }}
                                                    <div class="text-sm text-danger">
                                                        {{ form_detail.child_name.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group shadow-none">
                                                    {{ form_detail.child_birth.label_tag }}{{ form_detail.child_birth }}
                                                    <div class="text-sm text-danger">
                                                        {{ form_detail.child_birth.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group shadow-none">
                                                    {{ form_detail.child_sex.label_tag }}
                                                    <select name="child_sex" class="form-control form-select-sm">
                                                        <option value="1" {% if item.child_sex == '1' %}selected{% endif %}>Laki-laki</option>
                                                        <option value="2" {% if item.child_sex == '2' %}selected{% endif %}>Perempuan</option>
                                                    </select>
                                                    <div class="text-sm text-danger">
                                                        {{ form_detail.child_sex.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group shadow-none">
                                                    {{ form_detail.child_father.label_tag }}{{ form_detail.child_father }}
                                                    <div class="text-sm text-danger">
                                                        {{ form_detail.child_father.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group shadow-none">
                                                    {{ form_detail.child_mother.label_tag }}{{ form_detail.child_mother }}
                                                    <div class="text-sm text-danger">
                                                        {{ form_detail.child_mother.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-sm bg-gradient-primary text-white">Simpan
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table {% if crud == 'view' %}hover{% endif %} align-items-center mb-0" id="tabTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Nama Anak</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Tanggal Lahir</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Jenis Kelamin</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Ayah</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ibu</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in details %}
                                <tr {% if crud == 'view' %}class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#confirm-{{ item.id }}"{% endif %}>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.child_name }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.child_birth|date:"d M Y" }}
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{% if item.child_sex == '1' %}Laki-laki{% else %}Perempuan{% endif %}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.child_father }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.child_mother }}</h6>
                                    </td>
                                    <td>
                                        <button class="btn-icon-only text-dark bg-transparent border-0" data-bs-toggle="modal" {% if btn.edit or request.user.is_superuser %}data-bs-target="#delete-{{ item.id }}"{% else %}disabled{% endif %} {% if crud == 'update' %}disabled{% endif %}><i class="fas fa-times-circle"></i></button>
                                    </td>
                                    <div class="modal fade" id="delete-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">Konfirmasi</h5>
                                                </div>
                                                <div class="modal-body border-bottom-0">
                                                    Anda yakin akan menghapus anak <strong>{{ item.child_name }}</strong>?
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button role="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Batal</button>
                                                    <a href="{% url 'customer-detail-delete' item.id %}" role="button" class="btn bg-gradient-primary text-white">Hapus
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <div class="modal modal-lg fade" id="confirm-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLabel">Anak: {{ item.child_name }}</h5>
                                            </div>
                                            <form method="post" action="{% url 'customer-detail-update' item.customer_id item.id %}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="modal-body border-bottom-0">
                                                    <div class="pl-lg-0">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="form-group shadow-none">
                                                                    {{ form_detail.child_name.label_tag }}
                                                                    <input type="text" name="child_name" class="form-control form-control-sm" value="{{ item.child_name }}">
                                                                    <div class="text-sm text-danger">
                                                                        {{ form_detail.child_name.errors }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group shadow-none">
                                                                    {{ form_detail.child_birth.label_tag }}
                                                                    <input type="date" name="child_birth" class="form-control form-control-sm" value="{{ item.child_birth|date:'Y-m-d' }}">
                                                                    <div class="text-sm text-danger">
                                                                        {{ form_detail.child_birth.errors }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group shadow-none">
                                                                    {{ form_detail.child_sex.label_tag }}
                                                                    <select name="child_sex" class="form-control form-select-sm">
                                                                        <option value="1" {% if item.child_sex == '1' %}selected{% endif %}>Laki-laki</option>
                                                                        <option value="2" {% if item.child_sex == '2' %}selected{% endif %}>Perempuan</option>
                                                                    </select>
                                                                    <div class="text-sm text-danger">
                                                                        {{ form_detail.child_sex.errors }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group shadow-none">
                                                                    {{ form_detail.child_father.label_tag }}
                                                                    <input type="text" name="child_father" class="form-control form-control-sm" value="{{ item.child_father }}">
                                                                    <div class="text-sm text-danger">
                                                                        {{ form_detail.child_father.errors }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group shadow-none">
                                                                    {{ form_detail.child_mother.label_tag }}
                                                                    <input type="text" name="child_mother" class="form-control form-control-sm" value="{{ item.child_mother }}">
                                                                    <div class="text-sm text-danger">
                                                                        {{ form_detail.child_mother.errors }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Batal</button>
                                                    <button type="submit" class="btn bg-gradient-primary text-white {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}">Simpan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready( function () {
        $('#tabTable').DataTable({
            'pageLength': 5,
            'lengthMenu': [[5, 10, -1], [5, 10, 'All']],
            'language': {
                'search': 'Cari: ',
                'info': 'Menampilkan _START_ sampai _END_ dari _TOTAL_ data',
                'lengthMenu': 'Tampilkan _MENU_ data',
                'infoEmpty': '',
                'zeroRecords': 'Tidak ada data',
                'paginate': {
                    'next': 'Selanjutnya',
                    'previous': 'Sebelumnya'
                }
            }
        });

        let btn = document.getElementsByClassName('paginate_button');
        for (const button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }

        let btn2 = document.getElementsByClassName('paginate_button next', 'paginate_button previous');
        for (const button of btn2) {
            button.hover(function() {
                $(this).css('background-color', 'transparent');
            });
        }
    } );
</script>
{% endblock javascripts %}
