{% extends 'layouts/base.html' %}

{% block title %} Daftar Nilai Per Kelas {% endblock title %}

{% block content %}

<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-4">
                    <div class="col-6 d-flex align-items-center">
                        <h4 class="mb-2">Daftar Nilai Per Kelas</h4>
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn btn-sm bg-gradient-primary mb-0 {% if not btn.add and not request.user.is_superuser %}disabled{% endif %}" href="{% url 'nilai-kelas-add' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Tambah Nilai</a>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table hover align-items-center mb-0" id="myTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Kelas</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sub Kelas</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Guru</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Mapel</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Semester</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tahun</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr data-href="{{ item.url }}" class="cursor-pointer">
                                    <td><h6 class="mb-0 text-sm">{{ item.grade }}</h6></td>
                                    <td><h6 class="mb-0 text-sm">{{ item.sub_grade }}</h6></td>
                                    <td><h6 class="mb-0 text-sm">{{ item.teacher }}</h6></td>
                                    <td><h6 class="mb-0 text-sm">{{ item.subject }}</h6></td>
                                    <td><h6 class="mb-0 text-sm">{{ item.semester_display }}</h6></td>
                                    <td><h6 class="mb-0 text-sm">{{ item.tahun }}</h6></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td><h6 class="mb-0 text-sm text-secondary">Belum ada data nilai</h6></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready( function () {
      $('#myTable').DataTable({
          "pagingType": "numbers",
          "language": {
                "search": "Cari:",
                "zeroRecords": "Tidak ada data",
                "info": "Menampilkan halaman _PAGE_ dari _PAGES_",
                "infoEmpty": "Tidak ada data tersedia",
                "infoFiltered": "(disaring dari _MAX_ total data)",
                "lengthMenu": "Tampilkan _MENU_ data",
                "paginate": {
                    "previous": "<i class='fas fa-angle-left'>",
                    "next": "<i class='fas fa-angle-right'>"
                }
          },
      });

      $(document).on('click', 'tbody tr[data-href]', function() {
          window.location = $(this).data('href');
      });

      btn = document.getElementsByClassName('paginate_button');
      for (var i = 0; i < btn.length; i++) {
          btn[i].classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
      }
    } );
</script>

{% endblock javascripts %}
