{% extends 'layouts/base-form.html' %}

{% block title %} Form Pemesanan {% endblock title %}

{% block content %}

{% load my_filter %}

{% load humanize %}

{% load mathfilters %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'order-confirm-update' data.order_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h5 class="mb-2 text-center">Konfirmasi</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if msg %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="input-username">Total Biaya Paket Aqiqah Anda</label>
                                        <h5 class="text-bolder ps-1">Rp. {{ data.total_order|intcomma }}</h5>
                                    </div>  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="input-use-photo">Sertifikat dan Kartu Ucapan pakai foto atau tidak?</label>
                                        <select class="form-control form-select-sm" name="use_photo" id="input-use-photo">
                                            <option value="1" {% if data.use_photo == 1 %} selected {% endif %}>Ya</option>
                                            <option value="0" {% if data.use_photo == 0 %} selected {% endif %}>Tidak</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="input-witnessed">Penyembelihan disaksikan?</label>
                                        <select class="form-control form-select-sm" name="witnessed" id="input-witnessed">
                                            <option value="1" {% if data.witnessed == 1 %} selected {% endif %}>Ya</option>
                                            <option value="0" {% if data.witnessed == 0 %} selected {% endif %}>Tidak</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="input-info-source">Sumber informasi?</label>
                                        <select class="form-control form-select-sm" name="info_source" id="input-info-source">
                                            <option value="">Pilih sumber informasi</option>
                                            <option value="Google" {% if data.info_source == 'Google' %} selected {% endif %}>Google</option>
                                            <option value="Instagram" {% if data.info_source == 'Instagram' %} selected {% endif %}>Instagram</option>
                                            <option value="Facebook" {% if data.info_source == 'Facebook' %} selected {% endif %}>Facebook</option>
                                            <option value="Tiktok" {% if data.info_source == 'Tiktok' %} selected {% endif %}>Tiktok</option>
                                            <option value="Youtube" {% if data.info_source == 'Youtube' %} selected {% endif %}>Youtube</option>
                                            <option value="Referensi" {% if data.info_source == 'Referensi' %} selected {% endif %}>Referensi</option>
                                            <option value="Kantor" {% if data.info_source == 'Kantor' %} selected {% endif %}>Kantor</option>
                                            <option value="Brosur" {% if data.info_source == 'Brosur' %} selected {% endif %}>Brosur</option>
                                            <option value="Kerabat" {% if data.info_source == 'Kerabat' %} selected {% endif %}>Kerabat</option>
                                            <option value="Repeat Order" {% if data.info_source == 'Repeat Order' %} selected {% endif %}>Repeat Order</option>
                                            <option value="Website" {% if data.info_source == 'Website' %} selected {% endif %}>Website</option>
                                            <option value="Sahabat Bumil" {% if data.info_source == 'Sahabat Bumil' %} selected {% endif %}>Sahabat Bumil</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="shadow-none">
                                        {{ form.order_note.label_tag }}{{ form.order_note }}
                                        <div class="text-sm text-danger">
                                            {{ form.order_note.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-6">
                                    <a href="{% url 'order-package-update' data.order_id last_package.id last_package.category_id last_package.package_id %}" class="btn btn-sm bg-gradient-dark mb-0 px-4"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Kembali</a>
                                </div>
                                <div class="col-6 text-end">
                                    <button type="submit" class="btn btn-sm bg-gradient-dark mb-0 px-4">Lanjutkan&nbsp;&nbsp;<i class="fas fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
