{% extends 'layouts/base-form.html' %}

{% block title %} Form Pemesanan {% endblock title %}

{% block content %}

{% load my_filter %}

{% load humanize %}

{% load mathfilters %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'order-update' data.order_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h5 class="mb-2 text-center">Informasi Pesanan</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <!-- {% if message != '0' and crud == 'update' %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ message }}
                            </div>
                            {% endif %} -->
                            {% if msg %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="shadow-none">
                                                {{ form.customer_name.label_tag }}{{ form.customer_name }}
                                                <div class="text-sm text-danger">
                                                    {{ form.customer_name.errors }}
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="shadow-none">
                                                {{ form.customer_phone.label_tag }}{{ form.customer_phone }}
                                                <div class="text-sm text-danger">
                                                    {{ form.customer_phone.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="shadow-none">
                                                {{ form.customer_phone2.label_tag }}{{ form.customer_phone2 }}
                                                <div class="text-sm text-danger">
                                                    {{ form.customer_phone2.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="shadow-none">
                                                {{ form.customer_email.label_tag }}{{ form.customer_email }}
                                                <div class="text-sm text-danger">
                                                    {{ form.customer_email.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.customer_address.label_tag }}{{ form.customer_address }}
                                        <div class="text-sm text-danger">
                                            {{ form.customer_address.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.customer_district.label_tag }}{{ form.customer_district }}
                                        <div class="text-sm text-danger">
                                            {{ form.customer_district.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.customer_city.label_tag }}{{ form.customer_city }}
                                        <div class="text-sm text-danger">
                                            {{ form.customer_city.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.customer_province.label_tag }}{{ form.customer_province }}
                                        <div class="text-sm text-danger">
                                            {{ form.customer_province.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.delivery_date.label_tag }}
                                        <input type="date" name="delivery_date" class="form-control form-control-sm" value="{{ data.delivery_date|date:'Y-m-d' }}">
                                        <div class="text-sm text-danger">
                                            {{ form.delivery_date.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.time_arrival.label_tag }}{{ form.time_arrival }}
                                        <div class="text-sm text-danger">
                                            {{ form.time_arrival.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12 text-end">
                                    <button type="submit" class="btn btn-sm bg-gradient-warning mb-0 px-4">Lanjutkan&nbsp;&nbsp;<i class="fas fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
