{% extends 'layouts/base-form.html' %}

{% block title %} Form Pemesanan {% endblock title %}

{% block content %}

{% load my_filter %}

{% load humanize %}

{% load mathfilters %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'order-confirm' data.order_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 d-flex align-items-center">
                                <h5 class="mb-4 text-center">Konfirmasi Pesanan Anda</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if msg %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="shadow-none">
                                                <label class="form-control-label" for="input-customer-name">Nama Lengkap Pemesan</label>
                                                <input type="text" class="form-control form-control-sm" value="{{ data.customer_name }}" readonly>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="shadow-none">
                                                <label class="form-control-label" for="input-customer-phone">Telepon</label>
                                                <input type="text" class="form-control form-control-sm" value="{{ data.customer_phone }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="shadow-none">
                                                <label class="form-control-label" for="input-customer-email">Email</label>
                                                <input type="text" class="form-control form-control-sm" value="{{ data.customer_email }}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="input-customer-address">Alamat Lengkap Pengiriman</label>
                                        <textarea class="form-control form-control-sm" rows="4" readonly>{{ data.customer_address }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="input-customer-district">Kecamatan</label>
                                        <input type="text" class="form-control form-control-sm" value="{{ data.customer_district }}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="input-customer-city">Kota/Kabupaten</label>
                                        <input type="text" class="form-control form-control-sm" value="{{ data.customer_city }}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="input-customer-province">Propinsi</label>
                                        <input type="text" class="form-control form-control-sm" value="{{ data.customer_province }}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="input-delivery-date">Tanggal Pengiriman</label>
                                        <input type="text" class="form-control form-control-sm" value="{{ data.delivery_date|date:'d F Y' }}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="input-time-arrival">Jam Tiba di Lokasi</label>
                                        <input type="text" class="form-control form-control-sm" value="{{ data.time_arrival }}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <div class="card mb-0 p-4">
                <div class="row mb-3">
                    <div class="col-12 d-flex align-items-center">
                        <h5 class="mb-0">Informasi Anak</h5>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-1">
                    <div class="table-responsive p-0">
                        <table class="table {% if crud == 'view' %}hover{% endif %} align-items-center mb-0" id="childTable">
                            <thead>
                                <tr>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Nama Anak</th>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Tanggal Lahir</th>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Jenis Kelamin</th>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Nama Ayah</th>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Nama Ibu</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in child %}
                                <tr>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-xs">{{ item.child_name }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-xs">{{ item.child_birth|date:'d F Y' }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-xs">{% if item.child_sex == 1 %}Laki-laki{% else %}Perempuan{% endif %}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-xs">{{ item.child_father }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-xs">{{ item.child_mother }}</h6>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <div class="card mb-0 p-4">
                <div class="row mb-3">
                    <div class="col-6 d-flex align-items-center">
                        <h5 class="mb-0">Paket Aqiqah</h5>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-1">
                    <div class="table-responsive p-0">
                        <table class="table {% if crud == 'view' %}hover{% endif %} align-items-center mb-0" id="packTable">
                            <thead>
                                <tr>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Kategori Paket</th>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Paket</th>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Menu Daging</th>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Menu Olahan</th>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-end">Jumlah Box</th>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Domba</th>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-end">Qty</th>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-end">Harga Satuan</th>
                                    <th class="mb-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-end">Sub Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in package %}
                                <tr>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-xs">{{ item.category.category_name }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-xs">{{ item.package.package_name }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-xs">{{ item.main_cuisine }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-xs">{{ item.sub_cuisine }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-xs text-end">{{ item.package.box }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-xs">{{ item.type }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-xs text-end">{{ item.quantity }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-xs text-end">{{ item.unit_price|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-xs text-end">{{ item.total_price|intcomma }}</h6>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-2 pb-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-3">
                    <div class="col-6 d-flex align-items-center">
                        <h5 class="mb-0">Konfirmasi</h5>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-1">
                    <div class="pl-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="shadow-none">
                                    <label class="form-control-label" for="input-username">Total Biaya Paket Aqiqah Anda</label>
                                    <h5 class="text-bolder ps-1">Rp. {{ data.total_order|intcomma }}</h5>
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="shadow-none">
                                    <label class="form-control-label" for="input-use-photo">Sertifikat dan Kartu Ucapan pakai foto atau tidak?</label>
                                    <select class="form-control form-select-sm" name="use_photo" id="input-use-photo" initial="0" disabled>
                                        <option value="1" {% if data.use_photo == 1 %} selected {% endif %}>Ya</option>
                                        <option value="0" {% if data.use_photo == 0 %} selected {% endif %}>Tidak</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="shadow-none">
                                    <label class="form-control-label" for="input-witnessed">Penyembelihan disaksikan?</label>
                                    <select class="form-control form-select-sm" name="witnessed" id="input-witnessed" initial="0" disabled>
                                        <option value="1" {% if data.witnessed == 1 %} selected {% endif %}>Ya</option>
                                        <option value="0" {% if data.witnessed == 0 %} selected {% endif %}>Tidak</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="shadow-none">
                                    <label class="form-control-label" for="input-info-source">Sumber informasi?</label>
                                    <select class="form-control form-select-sm" name="info_source" id="input-info-source" disabled>
                                        <option value="">Pilih sumber informasi</option>
                                        <option value="Google" {% if data.info_source == 'Google' %} selected {% endif %}>Google</option>
                                        <option value="Instagram" {% if data.info_source == 'Instagram' %} selected {% endif %}>Instagram</option>
                                        <option value="Facebook" {% if data.info_source == 'Facebook' %} selected {% endif %}>Facebook</option>
                                        <option value="Tiktok" {% if data.info_source == 'Tiktok' %} selected {% endif %}>Tiktok</option>
                                        <option value="Youtube" {% if data.info_source == 'Youtube' %} selected {% endif %}>Youtube</option>
                                        <option value="Referensi" {% if data.info_source == 'Referensi' %} selected {% endif %}>Referensi</option>
                                        <option value="Kantor" {% if data.info_source == 'Kantor' %} selected {% endif %}>Kantor</option>
                                        <option value="Brosur" {% if data.info_source == 'Brosur' %} selected {% endif %}>Brosur</option>
                                        <option value="Kerabat" {% if data.info_source == 'Kerabat' %} selected {% endif %}>Kerabat</option>
                                        <option value="Repeat Order" {% if data.info_source == 'Repeat Order' %} selected {% endif %}>Repeat Order</option>
                                        <option value="Website" {% if data.info_source == 'Website' %} selected {% endif %}>Website</option>
                                        <option value="Sahabat Bumil" {% if data.info_source == 'Sahabat Bumil' %} selected {% endif %}>Sahabat Bumil</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="shadow-none">
                                    <label class="form-control-label" for="input-order-note">Catatan</label>
                                    <textarea class="form-control form-control-sm" name="order_note" id="input-order-note" rows="4" readonly>{% if data.order_note %}{{ data.order_note }}{% endif %}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-5">
                                <a href="{% url 'order-confirm-update' data.order_id %}" class="btn btn-sm bg-gradient-dark mb-0 px-4"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Kembali</a>
                            </div>
                            <div class="col-7 text-end">
                                <a href="{% url 'order-submit' data.order_id %}" type="button" class="btn btn-sm bg-gradient-warning mb-0 px-4">Kirim Pesanan&nbsp;&nbsp;<i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#childTable').DataTable({
            'searching': false,
            'lengthChange': false,
            'paging': false,
            'info': false,
            'cell-border': true,
        });
        $('#packTable').DataTable({
            'searching': false,
            'lengthChange': false,
            'paging': false,
            'info': false,
            'cell-border': true,
        });
    });
</script>
{% endblock javascripts %}
