{% extends 'layouts/base-form.html' %}

{% block title %} Form Pemesanan {% endblock title %}

{% block content %}

{% load my_filter %}

{% load humanize %}

{% load mathfilters %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'order-child-update' data.order_id data.id 0 %}" id="form-add" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h5 class="mb-2">Data Anak ({{ n_child }} dari {{ children.count }})</h5>
                            </div>
                            <div class="col-6 text-end">
                                {% if not first_child %}
                                <a href="{% url 'order-child-delete' data.order_id data.id %}" class="btn btn-sm bg-gradient-warning mb-0 px-4"><i class="fas fa-trash"></i>&nbsp;&nbsp;Hapus</a>
                                {% endif %}
                                <button id="add" type="button" class="btn btn-sm bg-gradient-dark mb-0 px-4"><i class="fas fa-plus"></i>&nbsp;&nbsp;Tambah Anak</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <!-- {% if message != '0' and crud == 'update' %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ message }}
                            </div>
                            {% endif %} -->
                            <!-- {% if msg %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %} -->
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group shadow-none mb-0">
                                        {{ form.child_name.label_tag }}{{ form.child_name }}
                                        <div class="text-sm text-danger">
                                            {{ form.child_name.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        {{ form.child_birth.label_tag }}
                                        <input type="date" name="child_birth" class="form-control form-control-sm" value="{{ data.child_birth|date:'Y-m-d' }}">
                                        <div class="text-sm text-danger">
                                            {{ form.child_birth.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        {{ form.child_sex.label_tag }}
                                        <select name="child_sex" class="form-control form-select-sm">
                                            <option value="1" {% if data.child_sex == '1' %}selected{% endif %}>Laki-laki</option>
                                            <option value="2" {% if data.child_sex == '2' %}selected{% endif %}>Perempuan</option>
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.child_sex.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        {{ form.child_father.label_tag }}{{ form.child_father }}
                                        <div class="text-sm text-danger">
                                            {{ form.child_father.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        {{ form.child_mother.label_tag }}{{ form.child_mother }}
                                        <div class="text-sm text-danger">
                                            {{ form.child_mother.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-6">
                                    <a href="{% if first_child %}{% url 'order-update' data.order_id %}{% else %}{% url 'order-child-update' data.order_id prev_id 0 %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0 px-4"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Kembali</a>
                                </div>
                                <div class="col-6    text-end">
                                    <button type="submit" class="btn btn-sm bg-gradient-warning mb-0 px-4">Lanjutkan&nbsp;&nbsp;<i class="fas fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    let add = document.getElementById('add');
    let form = document.getElementById('form-add');
    add.addEventListener('click', function() {
        form.action = "{% url 'order-child-update' data.order_id data.id 1 %}";
        form.submit();
    });
</script>
{% endblock javascripts %}
