{% extends 'layouts/base-form.html' %}

{% block title %} Form Pemesanan {% endblock title %}

{% block content %}

{% load my_filter %}

{% load humanize %}

{% load mathfilters %}

{% load user_agents %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'order-package-add' order_id cat pack type 0 %}" id="form-add" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card mb-4 z-index-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8 d-flex align-items-center">
                                <h5 class="mb-4 text-center">Paket Aqiqah</h5>
                            </div>
                            <div class="col-4 text-end">
                                {% if request|is_mobile %}
                                    <div class="dropdown float-lg-end pe-2">
                                        <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                            <li><button id="add" type="button" class="dropdown-item border-radius-md">Tambah Paket</button></li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <button id="add" type="button" class="btn btn-sm bg-gradient-dark mb-0 px-4"><i class="fas fa-plus"></i>&nbsp;&nbsp;Tambah Paket</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if message != '0' and crud == 'update' %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            <!-- {% if msg %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %} -->
                            {{ form.order }}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="category">Kategori Paket</label>
                                        <select name="category" class="form-control form-select-sm" onchange="window.location.href=this.value">
                                            <option value="">Pilih Kategori</option>
                                            {% for category in categories %}"
                                            <option value="{% url 'order-package-add' order_id category.category_id '0' '0' 0 %}" {% if category.category_id == cat %}selected{% endif %}>{{ category.category_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.category.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="{% if selected_package.quantity > 0 %}col-md-4{% else %}col-md-8{% endif %}">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="package">Paket</label>
                                        <select name="package" class="form-control form-select-sm" onchange="window.location.href=this.value">
                                            <option value="">Pilih Paket</option>
                                            {% for package in packages %}"
                                            <option value="{% url 'order-package-add' order_id cat package.package_id package.type 0 %}" {% if package.package_id == pack %}selected{% endif %}>{{ package.package_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.package.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% if selected_package.quantity > 0 %}
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="type">Jenis Kambing</label>
                                        <select name="type" id="type" class="form-control form-select-sm" onchange="window.location.href=this.value">
                                            {% if selected_package.male_price > 0 %}
                                            <option value="{% url 'order-package-add' order_id cat pack 'Jantan' 0 %}" {% if type == 'Jantan' %}selected{% endif %}>Jantan</option>
                                            {% endif %}
                                            {% if selected_package.female_price > 0 %}
                                            <option value="{% url 'order-package-add' order_id cat pack 'Betina' 0 %}" {% if type == 'Betina' %}selected{% endif %}>Betina</option>
                                            {% endif %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.type.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        {{ form.quantity.label_tag }}{{ form.quantity }}
                                        <div class="text-sm text-danger">
                                            {{ form.quantity.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 {% if selected_package.box < 1 or not selected_package.box %}d-none{% endif %}">
                                    <div class="form-group shadow-none mb-0">
                                        {{ form.box_type.label_tag }}
                                        <select name="box_type" class="form-control form-select-sm">
                                            {% if selected_package.box > 0 %}
                                            <option value="">Pilih Box</option>
                                            {% endif %}
                                            {% for box in box_types %}"
                                            <option value="{{ box.box_type_id }}">{{ box.box_type_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% if main_cuisines %}
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="main_cuisine">Menu Daging</label>
                                        <select name="main_cuisine" class="form-control form-select-sm">
                                            <option value="">Pilih Menu Daging</option>
                                            {% for cuisine in main_cuisines %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}">{{ cuisine.cuisine.cuisine_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                {% if sub_cuisines %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="sub_cuisine">Menu Olahan</label>
                                        <select name="sub_cuisine" class="form-control form-select-sm">
                                            <option value="">Pilih Menu Olahan</option>
                                            {% for cuisine in sub_cuisines %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}">{{ cuisine.cuisine.cuisine_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% if side_cuisines1 %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="side_cuisine1">Menu Pendamping 1</label>
                                        <select name="side_cuisine1" class="form-control form-select-sm">
                                            <option value="">Pilih Menu Pendamping 1</option>
                                            {% for cuisine in side_cuisines1 %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}">{{ cuisine.cuisine.cuisine_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                {% if side_cuisines2 %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="side_cuisine2">Menu Pendamping 2</label>
                                        <select name="side_cuisine2" class="form-control form-select-sm">
                                            <option value="">Pilih Menu Pendamping 2</option>
                                            {% for cuisine in side_cuisines2 %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}">{{ cuisine.cuisine.cuisine_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% if side_cuisines3 %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="side_cuisine3">Menu Pendamping 3</label>
                                        <select name="side_cuisine3" class="form-control form-select-sm">
                                            <option value="">Pilih Menu Pendamping 3</option>
                                            {% for cuisine in side_cuisines3 %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}">{{ cuisine.cuisine.cuisine_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                {% if side_cuisines4 %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="side_cuisine4">Menu Pendamping 4</label>
                                        <select name="side_cuisine4" class="form-control form-select-sm">
                                            <option value="">Pilih Pendamping 4</option>
                                            {% for cuisine in side_cuisines4 %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}">{{ cuisine.cuisine.cuisine_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% if side_cuisines5 %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="side_cuisine5">Menu Pendamping 5</label>
                                        <select name="side_cuisine5" class="form-control form-select-sm">
                                            <option value="">Pilih Pendamping 5</option>
                                            {% for cuisine in side_cuisines5 %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}">{{ cuisine.cuisine.cuisine_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                {% if type != '0' %}
                                <div class="col-md-12">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="unit_price">Harga Per Paket</label>
                                        <input type="text" class="form-control form-control-sm {% if type != 'Jantan' %}d-none{% endif %}" id="male_price" value="{{ selected_package.male_price|intcomma }}" readonly>
                                        <input type="text" class="form-control form-control-sm {% if type != 'Betina' %}d-none{% endif %}" id="female_price" value="{{ selected_package.female_price|intcomma }}" readonly>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0 d-none">
                                        {{ form.total_price.label_tag }}{{ form.total_price }}
                                        <div class="text-sm text-danger">
                                            {{ form.total_price.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-6">
                                    <a href="{% if last_package %}{% url 'order-package-update' order_id last_package.id last_package.category_id last_package.package_id last_package.type 0 %}{% else %}{% url 'order-child-update' order_id child.id 0 %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0 px-4"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Kembali</a>
                                </div>
                                <div class="col-6 text-end">
                                    <button type="submit" class="btn btn-sm bg-gradient-warning mb-0 px-4">Lanjutkan&nbsp;&nbsp;<i class="fas fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    let add = document.getElementById('add');
    let form = document.getElementById('form-add');
    let btn_menu = document.getElementById('dropdownTable');
    let dropdown_menu = document.getElementsByClassName('dropdown-menu');
    
    add.addEventListener('click', function() {
        form.action = "{% url 'order-package-add' order_id cat pack type 1 %}";
        form.submit();
    });

    // open dropdown menu
    btn_menu.addEventListener('click', function() {
        dropdown_menu[0].classList.toggle('show');
    });

    $(document).ready(function() {
        $('#type').change(function() {
            var type = $(this).val();
            if (type == 'Jantan') {
                $('#male_price').removeClass('d-none');
                $('#female_price').addClass('d-none');
            } else {
                $('#female_price').removeClass('d-none');
                $('#male_price').addClass('d-none');
            }
        });
    });
</script>
{% endblock javascripts %}
