{% extends 'layouts/base-form.html' %}

{% block title %} Form Pemesanan {% endblock title %}

{% block content %}

{% load my_filter %}

{% load humanize %}

{% load mathfilters %}

{% load user_agents %}

<form action="{% url 'order-package-add' order_id cat pack type 0 %}" id="form-add" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-fluid mt-0">
        <div class="row">
            <div class="col-xl-12 order-xl-1">
                <div class="card mb-4 z-index-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8 d-flex align-items-center">
                                <h5 class="mb-4 text-center">Paket Aqiqah</h5>
                            </div>
                            <div class="col-4 text-end">
                                {% if request|is_mobile %}
                                    <div class="dropdown float-lg-end pe-2">
                                        <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                            <li><button id="add" type="button" class="dropdown-item border-radius-md">Tambah Paket</button></li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <button id="add" type="button" class="btn btn-sm bg-gradient-dark mb-0 px-4"><i class="fas fa-plus"></i>&nbsp;&nbsp;Tambah Paket</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if message != '0' and crud == 'update' %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            {% if msg %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="category">Kategori Paket</label>
                                        <select name="category" class="form-control form-select-sm" onchange="window.location.href=this.value">
                                            <option value="">Pilih Kategori</option>
                                            {% for category in categories %}"
                                            <option value="{% url 'order-package-add' order_id category.category_id '0' '0' 0 %}" {% if category.category_id == cat %}selected{% endif %}>{{ category.category_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.category.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="{% if selected_package.quantity > 0 %}col-md-4{% else %}col-md-8{% endif %}">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="package">Paket</label>
                                        <select name="package" class="form-control form-select-sm" onchange="window.location.href=this.value">
                                            <option value="">Pilih Paket</option>
                                            {% for package in packages %}"
                                            <option value="{% url 'order-package-add' order_id cat package.package_id package.type 0 %}" {% if package.package_id == pack %}selected{% endif %}>{{ package.package_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.package.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% if selected_package.quantity > 0 %}
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="type">Jenis Kambing</label>
                                        <select name="type" id="type" class="form-control form-select-sm" onchange="window.location.href=this.value">
                                            {% if selected_package.male_price > 0 %}
                                            <option value="{% url 'order-package-add' order_id cat pack 'Jantan' 0 %}" {% if type == 'Jantan' %}selected{% endif %}>Jantan</option>
                                            {% endif %}
                                            {% if selected_package.female_price > 0 %}
                                            <option value="{% url 'order-package-add' order_id cat pack 'Betina' 0 %}" {% if type == 'Betina' %}selected{% endif %}>Betina</option>
                                            {% endif %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.type.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group shadow-none mb-0">
                                        <label class="form-control-label" for="id_quantity">Jumlah Paket</label>
                                        {{ form.quantity }}
                                        <div class="text-sm text-danger">
                                            {{ form.quantity.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% if selected_package.box > 0 %}
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="id-box">Jumlah Box/Porsi per Paket</label>
                                        <input type="number" name="box" id="id-box" class="form-control form-control-sm" value="{{ selected_package.box }}" min="1" max="{{ selected_package.box }}" required>
                                    </div>
                                </div>
                                {% endif %}
                                {% if selected_package.box > 0 %}
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="box_type">Pilihan Kemasan</label>
                                        <select name="box_type" class="form-control form-select-sm" required>
                                            {% if selected_package.box > 0 %}
                                            <option value="">Pilih Kemasan</option>
                                            {% endif %}
                                            {% for box in box_types %}"
                                            <option value="{{ box.equipment.equipment_name }}" {% if box.default == 1 %}selected{% endif %}>{{ box.equipment.equipment_name }}{% if box.extra_price > 0 %} (+ Rp {{ box.extra_price|intcomma }}/box){% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% if rices %}
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="rice">Pilihan Nasi</label>
                                        <select name="rice" class="form-control form-select-sm" required>
                                            {% for rice in rices %}"
                                            <option value="{{ rice.cuisine.cuisine_name }}" {% if rice.default == 1 %}selected{% endif %}>{{ rice.cuisine.cuisine_name }}{% if rice.extra_price > 0 %} (+ Rp {{ rice.extra_price|intcomma }}/box){% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                {% if main_cuisines %}
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="main_cuisine">Menu Daging</label>
                                        <select name="main_cuisine" class="form-control form-select-sm" required>
                                            <option value="">Pilih Menu Daging</option>
                                            {% for cuisine in main_cuisines %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}" {% if cuisine.default == 1 %}selected{% endif %}>{{ cuisine.cuisine.cuisine_name }}{% if cuisine.extra_price > 0 %} (+ Rp {{ cuisine.extra_price|intcomma }}/paket){% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% if sub_cuisines %}
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="sub_cuisine">Menu Olahan</label>
                                        <select name="sub_cuisine" class="form-control form-select-sm" required>
                                            <option value="">Pilih Menu Olahan</option>
                                            {% for cuisine in sub_cuisines %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}" {% if cuisine.default == 1 %}selected{% endif %}>{{ cuisine.cuisine.cuisine_name }}{% if cuisine.extra_price > 0 %} (+ Rp {{ cuisine.extra_price|intcomma }}/box){% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% if side_cuisines1 %}
                                <div class="col-md-4">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="side_cuisine1">Menu Pendamping 1</label>
                                        <select name="side_cuisine1" class="form-control form-select-sm" required>
                                            <option value="">Pilih Menu Pendamping 1</option>
                                            {% for cuisine in side_cuisines1 %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}" {% if cuisine.default == 1 %}selected{% endif %}>{{ cuisine.cuisine.cuisine_name }}{% if cuisine.extra_price > 0 %} (+ Rp {{ cuisine.extra_price|intcomma }}/box){% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                {% if side_cuisines2 %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="side_cuisine2">Menu Pendamping 2</label>
                                        <select name="side_cuisine2" class="form-control form-select-sm" required>
                                            <option value="">Pilih Menu Pendamping 2</option>
                                            {% for cuisine in side_cuisines2 %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}" {% if cuisine.default == 1 %}selected{% endif %}>{{ cuisine.cuisine.cuisine_name }}{% if cuisine.extra_price > 0 %} (+ Rp {{ cuisine.extra_price|intcomma }}/box){% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% if side_cuisines3 %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="side_cuisine3">Menu Pendamping 3</label>
                                        <select name="side_cuisine3" class="form-control form-select-sm" required>
                                            <option value="">Pilih Menu Pendamping 3</option>
                                            {% for cuisine in side_cuisines3 %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}" {% if cuisine.default == 1 %}selected{% endif %}>{{ cuisine.cuisine.cuisine_name }}{% if cuisine.extra_price > 0 %} (+ Rp {{ cuisine.extra_price|intcomma }}/box){% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                {% if side_cuisines4 %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="side_cuisine4">Menu Pendamping 4</label>
                                        <select name="side_cuisine4" class="form-control form-select-sm" required>
                                            <option value="">Pilih Menu Pendamping 4</option>
                                            {% for cuisine in side_cuisines4 %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}" {% if cuisine.default == 1 %}selected{% endif %}>{{ cuisine.cuisine.cuisine_name }}{% if cuisine.extra_price > 0 %} (+ Rp {{ cuisine.extra_price|intcomma }}/box){% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% if side_cuisines5 %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="side_cuisine5">Menu Pendamping 5</label>
                                        <select name="side_cuisine5" class="form-control form-select-sm" required>
                                            <option value="">Pilih Menu Pendamping 5</option>
                                            {% for cuisine in side_cuisines5 %}"
                                            <option value="{{ cuisine.cuisine.cuisine_name }}" {% if cuisine.default == 1 %}selected{% endif %}>{{ cuisine.cuisine.cuisine_name }}{% if cuisine.extra_price > 0 %} (+ Rp {{ cuisine.extra_price|intcomma }}/box){% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                {% if bags %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="bag">Pilihan Kemasan Kantong</label>
                                        <select name="bag" class="form-control form-select-sm">
                                            {% for bag in bags %}"
                                            <option value="{{ bag.equipment.equipment_name }}" {% if bag.default == 1 %}selected{% endif %}>{{ bag.equipment.equipment_name }}{% if bag.extra_price > 0 %} (+ Rp {{ bag.extra_price|intcomma }}/box){% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% if type != '0' %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="unit_price">Harga Per Paket</label>
                                        <input type="text" class="form-control form-control-sm {% if type != 'Jantan' %}d-none{% endif %}" id="male_price" value="{{ selected_package.male_price|intcomma }}" readonly>
                                        <input type="text" class="form-control form-control-sm {% if type != 'Betina' %}d-none{% endif %}" id="female_price" value="{{ selected_package.female_price|intcomma }}" readonly>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            {% if souvenirs or addons %}
                            <div class="row">
                                {% if souvenirs %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="souvenir">Pilihan Souvenir</label>
                                        <select name="souvenir" class="form-control form-select-sm" required>
                                            <option value="">Pilih Souvenir</option>
                                            {% for souvenir in souvenirs %}"
                                            <option value="{{ souvenir.equipment.equipment_name }}" {% if selected_package.souvenir == souvenir.equipment.equipment_name %}selected{% endif %}>{{ souvenir.equipment.equipment_name }}{% if souvenir.extra_price > 0 %} (+ Rp {{ souvenir.extra_price|intcomma }}){% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% if addons %}
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0">
                                        <label for="addon">Tambahan (Jika ada)</label>
                                        <div class="input-group input-group-alternative">
                                            <a class="form-control form-control-sm border" data-bs-toggle="modal" data-bs-target="#dialog-addon">{% if addon_order %}{{ addon_order }}{% else %}Pilih Tambahan{% endif %}</a>
                                            <span class="input-group-text bg-transparent end-0 pe-3 py-2 text-body z-index-0" data-bs-toggle="modal" data-bs-target="#dialog-addon"><i class="fas fa-angle-down"></i></span>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            {% endif %}
                            <div class="row mt-4">
                                <div class="col-6">
                                    <a href="{% if last_package %}{% url 'order-package-update' order_id last_package.id last_package.category_id last_package.package_id last_package.type 0 %}{% else %}{% url 'order-child-update' order_id child.id 0 %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0 px-4"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Kembali</a>
                                </div>
                                <div class="col-6 text-end">
                                    <button type="submit" class="btn btn-sm bg-gradient-warning mb-0 px-4">Lanjutkan&nbsp;&nbsp;<i class="fas fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="dialog-addon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Pilih Tambahan</h5>
                    </div>
                    <div class="modal-body border-bottom-0">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0" id="menuTable">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Nama Item</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Harga Satuan</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Jumlah</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Pilih</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in addons %}
                                    <tr>
                                        <td>
                                            <div class="d-flex pe-2 py-0">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">{{ item.1 }}</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex pe-2 py-0">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">{{ item.2|intcomma }}</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control-sm qty" name="qty" value="{% if item.4 %}{{ item.4 }}{% else %}0{% endif %}"/>
                                        </td>
                                        <td>
                                            <input type="checkbox" class="cursor-pointer border checks" name="checks[]" value="{{ item.0 }}" {% if item.3 %}checked{% endif %}/>                                              
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Batal</button>
                        <button id="save-addon" class="btn btn-sm bg-gradient-primary text-white">Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="dialog-souvenir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Pilih Souvenir</h5>
                    </div>
                    <div class="modal-body border-bottom-0">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0" id="menuTable">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Nama Item</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" hidden>
                                            Jumlah</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Pilih</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in souvenirs %}
                                    <tr>
                                        <td>
                                            <div class="d-flex pe-2 py-0">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">{{ item.1 }}</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td hidden>
                                            <input type="number" class="form-control-sm qty" name="qty" value="{% if item.4 %}{{ item.4 }}{% else %}1{% endif %}"/>
                                        </td>
                                        <td>
                                            <input type="checkbox" class="cursor-pointer border checks" name="checks[]" value="{{ item.0 }}" {% if item.3 %}checked{% endif %}/>                                              
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Batal</button>
                        <button id="save-souvenir" class="btn btn-sm bg-gradient-primary text-white">Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#menuTable').DataTable({
            'info': false,
            'pageLength': -1,
            'paginate': false,
            'language': {
                'search': 'Cari: ',
                'infoEmpty': '',
                'zeroRecords': 'Tidak ada data',
            }
        });
    });

    let add = document.getElementById('add');
    let form = document.getElementById('form-add');
    let btn_menu = document.getElementById('dropdownTable');
    let dropdown_menu = document.getElementsByClassName('dropdown-menu');
    let c = document.querySelectorAll('.checks');
    let q = document.querySelectorAll('.qty');
    let save_souvenir = document.getElementById('save-souvenir');
    let save = document.getElementById('save-addon');
    let portion = document.getElementById('id-box');
    let box_qty = parseInt('{{ selected_package.box }}');

    portion.addEventListener('change', function() {
        if (portion.value < 1) {
            alert('Jumlah box/porsi tidak boleh kurang dari 1');
            portion.value = box_qty;
        }
        if (portion.value > box_qty) {
            alert('Jumlah box/porsi tidak boleh lebih dari ' + box_qty);
            portion.value = box_qty;
        }
    });

    save.addEventListener('click', function() {
        let check = [];
        let qty = [];
        c.forEach(function(checkbox, index) {
            if (c[index].checked == true) {
                check.push(c[index].value);
                qty.push(q[index].value);
            }
        });
        form.action = "{% url 'order-package-add' order_id cat pack type 2 %}?checks=" + check + "&qty=" + qty;
        form.submit();
    });
    
    add.addEventListener('click', function() {
        form.action = "{% url 'order-package-add' order_id cat pack type 1 %}";
        form.submit();
    });

    c.forEach(function(checkbox, index) {
        checkbox.addEventListener('click', function() {
            if (c[index].checked == true) {
                if (q[index].value < 1) {
                    q[index].value = 1;
                }
            } else {
                q[index].value = 0;
            }
        });
    });

    q.forEach(function(quantity, index) {
        quantity.addEventListener('change', function() {
            if (q[index].value > 0) {
                c[index].checked = true;
            } else {
                c[index].checked = false;
            }
        });
    });

    // open dropdown menu
    btn_menu.addEventListener('click', function() {
        dropdown_menu[0].classList.toggle('show');
    });

    $(document).ready(function() {
        $('#type').change(function() {
            var type = $(this).val();
            if (type == 'Jantan') {
                $('#male_price').removeClass('d-none');
                $('#female_price').addClass('d-none');
            } else {
                $('#female_price').removeClass('d-none');
                $('#male_price').addClass('d-none');
            }
        });
    });
</script>
{% endblock javascripts %}
