{% extends 'layouts/base.html' %}

{% block title %} Buat Paket Baru {% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'package-add' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="mb-2">Buat Paket Baru</h4>
                            </div>
                            <div class="col-6 text-end">
                                <button type="submit" class="btn bg-gradient-primary mb-0"><i class="fas fa-save"></i>&nbsp;&nbsp;Simpan</button>
                                <a href="{% url 'package-index' %}" class="btn bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Batal</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.package_id.label_tag }}{{ form.package_id }}
                                        <div class="text-sm text-danger">
                                            {{ form.package_id.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.package_name.label_tag }}{{ form.package_name }}
                                        <div class="text-sm text-danger">
                                            {{ form.package_name.errors }}
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.category.label_tag }}
                                        <select name="category" class="form-control form-select-sm">
                                            <option value="">-- Pilih Kategori --</option>
                                            {% for item in categories %}
                                            <option value="{{ item.category_id }}">{{ item.category_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.category.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.package_price.label_tag }}{{ form.package_price }}
                                        <div class="text-sm text-danger">
                                            {{ form.package_price.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.box.label_tag }}{{ form.box }}
                                        <div class="text-sm text-danger">
                                            {{ form.box.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.quantity.label_tag }}{{ form.quantity }}
                                        <div class="text-sm text-danger">
                                            {{ form.quantity.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.type.label_tag }}
                                        <select name="type" class="form-control form-select-sm">
                                            <option value="">-- Pilih Jenis Kambing --</option>
                                            <option value="Jantan">Jantan</option>
                                            <option value="Betina">Betina</option>
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.type.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}