{% extends 'layouts/base.html' %}
{% load humanize %}

{% block title %} Promo {% endblock title %}

{% block content %}

{% load user_agents %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'promo-update' data.promo_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card mb-3 {% if request|is_mobile %}z-index-0{% endif %}">
                    <div class="card-header">
                        <div class="row">
                            <div class="{% if request|is_mobile %}col-11{% else %}col-6{% endif %} d-flex align-items-center">
                                <h4 class="mb-2">Promo ID: {{ data.promo_id }}</h4>
                            </div>
                            <div class="{% if request|is_mobile %}col-1{% else %}col-6{% endif %} text-end">
                                {% if request|is_mobile %}
                                <div class="dropdown float-lg-end pe-2">
                                    <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                        <li><a class="dropdown-item border-radius-md" href="{% if crud == 'view' %}{% url 'promo-index' %}{% else %}{% url 'promo-view' data.promo_id %}{% endif %}">{% if crud == 'view' %}Kembali{% else %}Batal{% endif %}</a></li>
                                        <li><a class="dropdown-item border-radius-md" href="{% url 'promo-update' data.promo_id %}" {% if not btn.edit and not request.user.is_superuser %}hidden{% endif %} {% if crud == 'update' %}hidden{% endif %}>Edit</a></li>
                                        <li><button type="submit" class="dropdown-item border-radius-md text-body" {% if crud == 'view' %}hidden{% endif %}>Simpan</button></li>
                                        <li><a class="dropdown-item border-radius-md text-danger" data-bs-toggle="modal" data-bs-target="#confirm-{{ data.promo_id }}" {% if not btn.delete and not request.user.is_superuser %}hidden{% else %}{% if crud == 'update' %}hidden{% endif %}{% endif %}>Hapus</a></li>
                                    </ul>
                                </div>
                                {% else %}
                                <a href="{% if crud == 'view' %}{% url 'promo-index' %}{% else %}{% url 'promo-view' data.promo_id %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;{% if crud == 'view' %}Kembali{% else %}Batal{% endif %}</a>
                                <a href="{% url 'promo-update' data.promo_id %}" class="btn btn-sm bg-gradient-dark mb-0 {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
                                <button type="submit" class="btn btn-sm bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Simpan</button>
                                <button type="button" class="btn btn-sm bg-gradient-primary mb-0 {% if not btn.delete and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-{{ data.promo_id }}"><i class="fas fa-trash"></i>&nbsp;&nbsp;Hapus</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-{{ data.promo_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Konfirmasi</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Anda yakin akan menghapus promo <strong>{{ data.promo_name }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-secondary" data-bs-dismiss="modal">Batal</button>
                                    <a href="{% url 'promo-delete' data.promo_id %}" role="button" class="btn btn-sm bg-gradient-danger text-white">Hapus
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if message %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.promo_name.label_tag }}{{ form.promo_name }}
                                        <div class="text-sm text-danger">
                                            {{ form.promo_name.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.promo_limit.label_tag }}
                                        <input type="number" class="form-control-sm" {% if crud == "view" %}disabled{% endif %} name="promo_limit" value="{{ data.promo_limit }}" required>
                                        <div class="text-sm text-danger">
                                            {{ form.promo_limit.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card mb-4 p-4">
                <div class="row mb-0">
                    <div class="col-6 d-flex align-items-center">
                        <h5 class="mb-0">Pilihan Hadiah</h5>
                    </div>
                    <div class="col-6 text-end">
                        <button type="button" class="btn btn-sm bg-gradient-primary mb-0" data-bs-toggle="modal" data-bs-target="#dialog-popup" {% if not btn.edit and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}><i class="fas fa-plus"></i>&nbsp;&nbsp;Tambah Hadiah</button>
                    </div>
                </div>
                <div class="modal fade" id="dialog-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">Input Hadiah</h5>
                            </div>
                            <form method="post" action="{% url 'promo-view' data.promo_id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body border-bottom-0">
                                    <label class="form-control-label" for="input-username">Judul</label>
                                    <input type="text" class="form-control-sm" name="gift" placeholder="Judul Hadiah" required>
                                    <label class="form-control-label" for="input-username">Nominal Cashback</label>
                                    <input type="number" class="form-control-sm" name="nominal" required value="0">
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn bg-gradient-primary text-white">Simpan
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0" id="myTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Hadiah</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nominal Cashback</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in detail %}
                                <tr {% if crud == 'view' %}class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#update-{{ item.id }}{% endif %}">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.gift }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm" name="nominal">{{ item.nominal|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <button class="btn-icon-only text-dark bg-transparent border-0" data-bs-toggle="modal" {% if btn.edit or request.user.is_superuser %}data-bs-target="#delete-{{ item.id }}"{% else %}disabled{% endif %} {% if crud == 'update' %}disabled{% endif %}><i class="fas fa-times-circle py-0"></i></button>
                                    </td>
                                    <div class="modal fade" id="delete-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">Konfirmasi</h5>
                                                </div>
                                                <div class="modal-body border-bottom-0">
                                                    Anda yakin akan menghapus hadiah <strong>{{ item.gift }}</strong>?
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <a href="{% url 'promo-view' item.promo_id %}" role="button" class="btn btn-sm bg-gradient-dark">Batal</a>
                                                    <a href="{% url 'promo-detail-delete' item.id %}" role="button" class="btn btn-sm bg-gradient-danger text-white">Hapus
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <div class="modal fade" id="update-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLabel">Hadiah: {{ item.gift }}</h5>
                                            </div>
                                            <form method="post" action="{% url 'promo-detail-update' item.id %}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="modal-body border-bottom-0">
                                                    <div class="pl-lg-0">
                                                        <div class="row">
                                                            <div class="modal-body border-bottom-0">
                                                                <label class="form-control-label" for="input-username">Judul</label>
                                                                <input type="text" class="form-control-sm" name="gift" value="{{ item.gift }}" required>
                                                                <label class="form-control-label" for="input-username">Nominal Cashback</label>
                                                                <input type="number" class="form-control-sm" name="nominal" value="{{ item.nominal }}" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Batal</button>
                                                    <button type="submit" class="btn bg-gradient-primary text-white {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}">Simpan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable(
            {
                "searching": false,
                "lengthChange": false,
            }
        );
        
        $('#distributorTable').DataTable();

        let btn = document.getElementsByClassName('paginate_button');
        for (const button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }
    } );

    let btn_menu = document.getElementById('dropdownTable');
    let dropdown_menu = document.getElementsByClassName('dropdown-menu');
    
    // open dropdown menu
    btn_menu.addEventListener('click', function() {
        dropdown_menu[0].classList.toggle('show');
    });

    $(document).on('click', 'tbody tr:not(last-child)', function() {
        var href = $(this).data('href');
        if(href) { // Check if href data exists
            window.location = href;
        } else {
            console.log("No data in href");
        }
    });
</script>
{% endblock javascripts %}
