{% extends 'layouts/base.html' %}
{% block title %} Santri Per Ekskul {% endblock title %}
{% block content %}
<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-4">
                    <div class="col-12 d-flex align-items-center">
                        <h4 class="mb-2">Santri Per Ekstrakurikuler</h4>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table hover align-items-center mb-0" id="myTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nama Ekstrakurikuler</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Penanggung Jawab</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-center">Anggota</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr data-href="{% url 'extracurricular-student-view' item.extracurricular_id %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.name }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td><h6 class="mb-0 text-sm">{{ item.teacher.user.username|default:'-' }}</h6></td>
                                    <td class="text-center"><span class="badge badge-sm bg-gradient-primary">{{ item.member_count }}</span></td>
                                </tr>
                                {% empty %}
                                <tr><td colspan="3" class="text-center text-sm py-3">Tidak ada data.</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
<script>
    $(document).ready(function () {
        $.fn.dataTable.ext.errMode = 'none';
        $('#myTable').DataTable({
            'pageLength': 25, 'pagingType': 'numbers',
            'language': { 'search': 'Cari:', 'info': 'Menampilkan _START_ sampai _END_ dari _TOTAL_ data',
                'infoEmpty': 'Tidak ada data', 'lengthMenu': 'Tampilkan _MENU_ data', 'zeroRecords': 'Tidak ada data',
                'paginate': { 'previous': "<i class='fas fa-angle-left'>", 'next': "<i class='fas fa-angle-right'>" }
            }, 'order': [[0, 'asc']],
        });
        $(document).on('click', '#myTable tbody tr', function () {
            var href = $(this).data('href'); if (href) window.location = href;
        });
    });
</script>
{% endblock javascripts %}
