{% extends 'layouts/base.html' %}

{% block title %} Daftar Kecamatan {% endblock title %}

{% block content %}

<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-4">
                    <div class="col-6 d-flex align-items-center">
                        <h4 class="mb-2">Daftar Kecamatan</h4>
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn btn-sm bg-gradient-primary mb-0 {% if not btn.add and not request.user.is_superuser %}disabled{% endif %}" href="{% url 'sub-district-import' %}"><i class="fas fa-file-import"></i>&nbsp;&nbsp;Import</a>
                        <a class="btn btn-sm bg-gradient-dark mb-0 {% if not btn.add and not request.user.is_superuser %}disabled{% endif %}" href="{% url 'sub-district-add' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Tambah Kecamatan</a>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table hover align-items-center mb-0" id="myTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nama Kecamatan</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr data-href="{% url 'sub-district-view' item.sub_district_id %}" class="cursor-pointer">
                                    <td><h6 class="mb-0 text-sm">{{ item.sub_district_id }}</h6></td>
                                    <td><h6 class="mb-0 text-sm">{{ item.sub_district_name }}</h6></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            "pagingType": "numbers",
            "language": {
                "search": "Cari:",
                "zeroRecords": "Tidak ada data",
                "info": "Menampilkan halaman _PAGE_ dari _PAGES_",
                "infoEmpty": "Tidak ada data tersedia",
                "infoFiltered": "(disaring dari _MAX_ total data)",
                "lengthMenu": "Tampilkan _MENU_ data",
                "paginate": {
                    "previous": "<i class='fas fa-angle-left'>",
                    "next": "<i class='fas fa-angle-right'>"
                }
            },
        });

        $(document).on('click', 'tbody tr', function() {
            var href = $(this).attr('data-href');
            if (href) {
                window.location = href;
            }
        });

        btn = document.getElementsByClassName('paginate_button');
        for (var i = 0; i < btn.length; i++) {
            btn[i].classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }
    });
</script>

{% endblock javascripts %}
