{% extends 'layouts/base.html' %}

{% block title %} Daftar Guru {% endblock title %}

{% block content %}

<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-4">
                    <div class="col-6 d-flex align-items-center">
                        <h4 class="mb-2">Daftar Guru</h4>
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn btn-sm bg-gradient-primary mb-0 {% if not btn.add and not request.user.is_superuser %}disabled{% endif %}"
                           href="{% url 'teacher-add' %}">
                            <i class="fas fa-plus"></i>&nbsp;&nbsp;Tambah Guru
                        </a>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table hover align-items-center mb-0" id="myTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">NIP</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nama Guru</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">JK</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Spesialisasi</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Pend. Terakhir</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr data-href="{% url 'teacher-view' item.teacher_id %}" class="cursor-pointer">
                                    <td><h6 class="mb-0 text-sm">{{ item.nip|default:'-' }}</h6></td>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.user.username|default:'-' }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td><h6 class="mb-0 text-sm">{{ item.get_sex_display|default:'-' }}</h6></td>
                                    <td><h6 class="mb-0 text-sm">{{ item.get_status_display|default:'-' }}</h6></td>
                                    <td><h6 class="mb-0 text-sm">{{ item.specialization|default:'-' }}</h6></td>
                                    <td><h6 class="mb-0 text-sm">{{ item.get_last_education_display|default:'-' }}</h6></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="6" class="text-center text-sm py-3">Tidak ada data guru.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        $.fn.dataTable.ext.errMode = 'none';
        $('#myTable').DataTable({
            'pageLength': 25,
            'pagingType': 'numbers',
            'language': {
                'search': 'Cari:',
                'info': 'Menampilkan _START_ sampai _END_ dari _TOTAL_ data',
                'infoEmpty': 'Tidak ada data tersedia',
                'infoFiltered': '(disaring dari _MAX_ total data)',
                'lengthMenu': 'Tampilkan _MENU_ data',
                'zeroRecords': 'Tidak ada data',
                'paginate': {
                    'previous': "<i class='fas fa-angle-left'>",
                    'next': "<i class='fas fa-angle-right'>"
                }
            },
            'order': [[1, 'asc']],
        });

        $(document).on('click', '#myTable tbody tr', function () {
            var href = $(this).data('href');
            if (href) window.location = href;
        });
    });
</script>
{% endblock javascripts %}
